In [2]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd, numpy as np, seaborn as sns
from matplotlib import pyplot as plt

/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
mdata = pd.read_csv("/Users/Nagarwa/AI/data/market.csv",sep='\t')

In [5]:
mdata.head()

  InvoiceNo StockCode  ... CustomerID    Country
0    536389     22941  ...      12431  Australia
1    536389     21622  ...      12431  Australia
2    536389     21791  ...      12431  Australia
3    536389    35004C  ...      12431  Australia
4    536389    35004G  ...      12431  Australia

[5 rows x 8 columns]

In [11]:
basket = mdata.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)

In [12]:
def encode(x):
    if x<=0:
        return 0
    else:
        return 1

In [13]:
basket_set = basket.applymap(encode)

In [17]:
#run association rule 

frequentItems = apriori(basket_set,min_support=0.05,use_colnames=True)

In [30]:
#create rules
rules = association_rules(frequentItems,metric="lift")

In [31]:
rules.sort_values('confidence',inplace=True,ascending=False)

In [32]:
rules.shape

(800, 9)