In [1]:
import pandas as pd, numpy as np, seaborn as sns
from matplotlib import pyplot as plt

In [4]:
tdata = pd.read_csv('taxi.csv',sep="\t")

In [5]:
tdata.columns

Index(['Observation', 'Dist_Taxi', 'Dist_Market', 'Dist_Hospital', 'Carpet',
       'Builtup', 'Parking', 'City_Category', 'Rainfall', 'House_Price'],
      dtype='object')

In [6]:
tdata.isna().sum()

Observation      0
Dist_Taxi        0
Dist_Market      0
Dist_Hospital    0
Carpet           0
Builtup          0
Parking          0
City_Category    0
Rainfall         0
House_Price      0
dtype: int64

In [7]:
tdata.dtypes

Observation       int64
Dist_Taxi         int64
Dist_Market       int64
Dist_Hospital     int64
Carpet            int64
Builtup           int64
Parking          object
City_Category    object
Rainfall          int64
House_Price       int64
dtype: object

In [8]:
tdata.head()

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
0,1,9796,5250,10703,1659,1961,Open,CAT B,530,6649000
1,2,8294,8186,12694,1461,1752,Not Provided,CAT B,210,3982000
2,3,11001,14399,16991,1340,1609,Not Provided,CAT A,720,5401000
3,4,8301,11188,12289,1451,1748,Covered,CAT B,620,5373000
4,5,10510,12629,13921,1770,2111,Not Provided,CAT B,450,4662000

In [92]:
tdata_dum = pd.get_dummies(data=tdata, columns=['Parking','City_Category'],drop_first=True)

In [80]:
x = tdata_dum.drop(columns=['House_Price','Observation'])

In [81]:
y = tdata_dum['House_Price']

In [93]:
x.head()

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Rainfall,Parking_No Parking,Parking_Not Provided,Parking_Open,City_Category_CAT B,City_Category_CAT C
0,9796,5250,10703,1659,1961,530,0,0,1,1,0
1,8294,8186,12694,1461,1752,210,0,1,0,1,0
2,11001,14399,16991,1340,1609,720,0,1,0,0,0
3,8301,11188,12289,1451,1748,620,0,0,0,1,0
4,10510,12629,13921,1770,2111,450,0,1,0,1,0

In [94]:
from sklearn.preprocessing import StandardScaler
stdScaler = StandardScaler()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)
stdScaler.fit(x_train)
x_train_std = stdScaler.transform(x_train)
x_test_std = stdScaler.transform(x_test)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  import sys

In [95]:
from sklearn.linear_model import LinearRegression
tlModel = LinearRegression()
tlModel.fit(x_train_std, y_train)
tlModel.score(x_train_std,y_train)

0.49911684341975726

In [96]:
tlModel.score(x_test_std,y_test)

0.5026879935117252

In [97]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
tRFModel = RandomForestClassifier(n_estimators=100,max_features=8,min_samples_split=4, min_samples_leaf=5,max_depth=6)

tRFModel.fit(x_train_std, y_train)
tRFModel.score(x_train_std,y_train)

0.4880952380952381

In [98]:
tRFModel.score(x_test_std,y_test)

0.0

In [99]:
from sklearn.tree import DecisionTreeClassifier
tDTModel = DecisionTreeClassifier(min_samples_split=8, min_samples_leaf=6,max_depth=6)

tDTModel.fit(x_train_std, y_train)
tDTModel.score(x_train_std,y_train)

0.05952380952380952

In [100]:
tDTModel.score(x_test_std,y_test)

0.0