In [26]:
from nltk.corpus import stopwords
import pandas as pd
import string

/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/Nagarwa/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [7]:
stopwords.words('english')[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [9]:
review = '''It is very bad product .
Two times I received it but both time it is found defective.'''

In [15]:
review_no_puct = [x for x in review if x not in string.punctuation]

In [20]:
review_no_puct = ''.join(review_no_puct).replace("\n","")

In [21]:
review_no_puct

'It is very bad product Two times I received it but both time it is found defective'

In [24]:
[x for x in review_no_puct.split() if x.lower() not in stopwords.words('english')]

['bad', 'product', 'Two', 'times', 'received', 'time', 'found', 'defective']

In [27]:
email_Data = pd.read_csv('email.csv','\t')

In [28]:
email_Data

                              Message      Tag
0  Hi, when are you coming to Mumbai?  NotSpam
1                 Free! Free Tickets.     Spam
2                    Free Credit Card     Spam
3             Lets catch up sometime.  NotSpam

In [32]:
def cleanText(text):
    text_nopunctuation =  [x for x in text if x not in string.punctuation]
    text_nopunctuation = ''.join(text_nopunctuation).replace("\n","")
    clean_text = [x for x in text_nopunctuation.split() if x.lower() not in stopwords.words('english')]
    return clean_text

In [33]:
cleanText(review)

['bad', 'product', 'Two', 'times', 'received', 'time', 'found', 'defective']

In [34]:
email_Data.Message.apply(cleanText)

0       [Hi, coming, Mumbai]
1      [Free, Free, Tickets]
2       [Free, Credit, Card]
3    [Lets, catch, sometime]
Name: Message, dtype: object

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
tfBag = CountVectorizer(analyzer=cleanText)

In [45]:
tfData = tfBag.fit(email_Data.Message)

In [50]:
tfData = tfData.transform(email_Data.Message)

In [51]:
tfBag.get_feature_names()

['Card',
 'Credit',
 'Free',
 'Hi',
 'Lets',
 'Mumbai',
 'Tickets',
 'catch',
 'coming',
 'sometime']

In [41]:
from sklearn.feature_extraction.text import TfidfTransformer

In [52]:
tfid = TfidfTransformer()

In [53]:
tfid.fit(tfData)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [54]:
tfData_idf = tfid.transform(tfData)

In [56]:
x = pd.DataFrame(tfData_idf.toarray(),columns=tfBag.get_feature_names())

,Card,Credit,Free,Hi,Lets,Mumbai,Tickets,catch,coming,sometime
0,0.000000,0.000000,0.000000,0.57735,0.00000,0.57735,0.000000,0.00000,0.57735,0.00000
1,0.000000,0.000000,0.844493,0.00000,0.00000,0.00000,0.535566,0.00000,0.00000,0.00000
2,0.617614,0.617614,0.486934,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000
3,0.000000,0.000000,0.000000,0.00000,0.57735,0.00000,0.000000,0.57735,0.00000,0.57735

In [57]:
y = email_Data.Tag

In [67]:
edata = pd.read_csv('spam.csv',sep='\t',header=None)

In [69]:
edata.columns=['Respnse','Message']

In [72]:
edata.Message.apply(cleanText)
tfBag = CountVectorizer(analyzer=cleanText)
tfData = tfBag.fit(edata.Message)
tfData = tfData.transform(edata.Message)

In [75]:
tfid = TfidfTransformer()
tfid.fit(tfData)
tfData_idf = tfid.transform(tfData)
x = pd.DataFrame(tfData_idf.toarray(),columns=tfBag.get_feature_names())
y = edata.Respnse

In [115]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)
from sklearn.linear_model import LogisticRegression
spamModel = LogisticRegression()
spamModel.fit(x_train,y_train)
spamModel.score(x_train,y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9564489112227805

In [116]:
spamModel.score(x_test,y_test)

0.9454414931801867

In [162]:
from sklearn.naive_bayes import MultinomialNB
bModel = MultinomialNB()
bModel.fit(x_train,y_train)
bModel.score(x_train,y_train)

0.9736779133764059

In [159]:
bModel.score(x_test,y_test)

0.9662598707824839

In [ ]:
x_new = edata.Message

In [142]:
e_testData = pd.read_csv("/Users/Nagarwa/AI/data/spam_ham_dataset.csv",sep='\t',header=None)

In [143]:
e_testData

                                                   0
0                        What you doing?how are you?
1                      Ok lar... Joking wif u oni...
2    dun say so early hor... U c already then say...
3  MY NO. IN LUTON 0125698789 RING ME IF UR AROUN...
4                           Siva is in hostel aha:-.
5  Cos i was out shopping wif darren jus now n i ...
6  FreeMsg: Txt: CALL to No: 86888 & claim your r...
7  Sunshine Quiz! Win a super Sony DVD recorder i...
8  URGENT! Your Mobile No 07808726822 was awarded...

In [144]:
e_testData.columns=['Message']

In [145]:
e_testData

                                             Message
0                        What you doing?how are you?
1                      Ok lar... Joking wif u oni...
2    dun say so early hor... U c already then say...
3  MY NO. IN LUTON 0125698789 RING ME IF UR AROUN...
4                           Siva is in hostel aha:-.
5  Cos i was out shopping wif darren jus now n i ...
6  FreeMsg: Txt: CALL to No: 86888 & claim your r...
7  Sunshine Quiz! Win a super Sony DVD recorder i...
8  URGENT! Your Mobile No 07808726822 was awarded...

In [151]:
e_testData_x=e_testData

In [ ]:
def cleanTextTwo(text):
#     text_nopunctuation =  [x for x in text if x not in string.punctuation]
    clean_text = ''.join(text)
#     clean_text = [x for x in text_nopunctuation.split() if x.lower() not in stopwords.words('english')]
    return clean_text

In [152]:
e_testData_x['Message']=e_testData['Message'].apply(cleanText)

In [153]:
e_testData_x

                                             Message
0                                         [doinghow]
1                     [Ok, lar, Joking, wif, u, oni]
2         [dun, say, early, hor, U, c, already, say]
3           [LUTON, 0125698789, RING, UR, AROUND, H]
4                                [Siva, hostel, aha]
5  [Cos, shopping, wif, darren, jus, n, called, 2...
6  [FreeMsg, Txt, CALL, 86888, claim, reward, 3, ...
7  [Sunshine, Quiz, Win, super, Sony, DVD, record...
8  [URGENT, Mobile, 07808726822, awarded, L2000, ...

In [160]:
e_testData_x['Message']=' '.join(e_testData_x['Message'].values)

TypeError: sequence item 0: expected str instance, list found

In [138]:
e_testData_x

'doing?howyou?Oklar...Jokingwifuoni...dunsayearlyhor...Ucalreadysay...MYNO.LUTON0125698789RINGURAROUND!H*Sivahostelaha:-.Cosshoppingwifdarrenjusncalled2askwatpresentwanlor.startedguessingwifnfinallyguesseddarrenlor.FreeMsg:Txt:CALLNo:86888&claimreward3hourstalktimeusephonenow!ubscribe6GBP/mnthinc3hrs16stop?txtStopSunshineQuiz!WinsuperSonyDVDrecordercannamecapitalAustralia?TextMQUIZ82277.BURGENT!Mobile07808726822awardedL2,000BonusCallerPrize02/09/03!2ndattemptcontactYOU!Call0871-872-9758BOX95QU'

In [154]:
spamModel.predict(e_testData_x)

ValueError: setting an array element with a sequence.